/* цвет фона сайта */
$bckSite: #fff;

/* настройки кнопк */
$fz-BTN: 0.8rem;
$fw-BTN: 500;
$lh-BTN: 1.2;
$padTB-BTN: 10px;
$padLR-BTN: 35px;
$bcg-BTN: rgb(247, 247, 247);
$colorText-BTN: rgba(37, 37, 37, 0.849);

